// function print(val) {
//     console.log(JSON.stringify({ "time": Date.now(), "log": val }))
// }
module.exports = {
    /**
 *
 * @param event {
    {
        "type":"touchmove",
        "timeStamp":4374,
        "target":{"id":"","offsetLeft":0,"offsetTop":0,"dataset":{}},
        "currentTarget":{"id":"","offsetLeft":149,"offsetTop":1,"dataset":{}},
        "mark":{},
        "detail":{},
        "touches":[
            {"identifier":0,"pageX":228,"pageY":60,"clientX":228,"clientY":60,"force":1}
        ],
        "changedTouches":[
            {"identifier":0,"pageX":228,"pageY":60,"clientX":228,"clientY":60,"force":1}
        ],
        "mut":false,
    }
 * @param instance {
     {
         "selectAllComponents":null,
         "selectComponent":null,
         "removeClass":null,
         "addClass":null,
         "hasClass":null,
         "setStyle":(style: any | string) => void,
         "getDataset":() => any,
         "getState":() => any,
         "triggerEvent":null,
         "callMethod":null,
         "requestAnimationFrame": typeof requestAnimationFrame,
         "getComputedStyle":null,
         "animate":null,
         "clearAnimation":null
        }
    }
 */
    touchmove: function (event, instance) {
        // print("touchmove")
        instance.callMethod("onTouchMove", event)
        return false // 不往上冒泡，相当于调用了同时调用了stopPropagation和preventDefault
    }
}
