@import (reference) '../../components/vant-react/common/style/var.less';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.block {
  width: 120px * @dpi;
  height: 120px * @dpi;
  background-color: #fff;
}
